<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title>Map with Driving Route from A to B</title>
</head>

<body id="markers-on-the-map">
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d63468.14133437986!2d1.1722033!3d6.1630442!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x1023e19e72871cdb%3A0x753a7c5b2480f01f!2zVG90c2ksIExvbcOp!3m2!1d6.1256961!2d1.2253562!4m5!1s0x102158669f2a81e7%3A0x8a7fd691ecd5a228!2zQWdiYWzDqXDDqWRvZ2FuLCBMb23DqQ!3m2!1d6.1990941!2d1.1977157999999999!5e0!3m2!1sfr!2stg!4v1705447309327!5m2!1sfr!2stg"
      width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</body>

</html>